[swift]
storage-url: swiftks://identity.fr1.cloudwatt.com/fr1:{{ container }}
backend-login: {{ os_tenant_name }}:{{ os_username }}
backend-password: {{ os_password }}
fs-passphrase: {{ backup_password }}
