keystore={{getv "/rundeck/ssl/keystore/file"}}
keystore.password={{getv "/rundeck/ssl/keystore/password"}}
key.password={{getv "/rundeck/ssl/keystore/password"}}
truststore={{getv "/rundeck/ssl/keystore/file"}}
truststore.password={{getv "/rundeck/ssl/keystore/password"}}