$template GRAYLOGRFC5424,"%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msg%\n"
*.* @{{ local_home.SERVICE_GELF_HOST }}:{{ local_home.SERVICE_GELF_PORT }};GRAYLOGRFC5424