#!/bin/bash
DAILY=$(curl -s http://{{ service }}/diff)
curl -C - -o /var/lib/clamav/$DAILY http://{{ service }}/$DAILY
curl -C - -o /var/lib/clamav/daily.cvd http://{{ service }}/daily.cvd
curl -C - -o /var/lib/clamav/main.cvd http://{{ service }}/main.cvd
kill -USR2 $(pidof clamd)
